VITE_JOTFORM_API_KEY_1=your_api_key_here
VITE_JOTFORM_API_KEY_2=your_api_key_here
VITE_JOTFORM_API_KEY_3=your_api_key_here

VITE_FORM_CHECKINS=form_checkinsID_here
VITE_FORM_MESSAGES=form_messagesID_here
VITE_FORM_SIGHTINGS=form_sightingsID_here
VITE_FORM_NOTES=form_notesID_here
VITE_FORM_TIPS=form_tipsID_here
